@model Category

<form method="post">
    <input asp-for="CategoryId" hidden />
    <div class="mt-4 border p-3">
        <div class="row pb-2 ">
            <h2 class="text-primary">
                edit Category
            </h2>
        </div>
        <div class="row pb-1">
            <label>Category name</label>
            <input asp-for="name" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="row pb-1">
            <label>Display Order</label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row mt-3">
            <div class="col-6 col-md-3 ">
                <input type="submit" class="btn btn-primary form-control" />
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back to category</a>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="row mt-2 "></div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
